# IDE extras
.vscode/
*.layout

# Build artifacts
obj/
*.so
*.so.0
*.dll
build

# Config
solconfig.lua

# Media
*.sf2
*.mid

# vi swp files
*.swp

# generated powers
src/powers/
src/powers/powers-generator.c

# game files
*gff
dso/
ds1/
ds2/
gpl/*
items/
